@{
   var grid = Html.DevExpress().DataView(
     settings =>
     {
         settings.Name = "dataView";
         settings.CallbackRouteValues = new { Controller = "CampReportController", Action = "Grid" };
         settings.SettingsTableLayout.RowsPerPage = 2;
         settings.Width = Unit.Percentage(100);
         settings.PagerAlign = PagerAlign.Justify;

        
         settings.SetItemTemplateContent(
             c =>
             {
                 var imgSrc = String.Format("data:image/gif;base64,{0}", DataBinder.Eval(c.DataItem, "IMAGE_DATA"));
                 
                 ViewContext.Writer.Write
                 (
                    "<table>" +
                        "<tr>" +
                            "<td colspan=\"2\">" +
                                "<img src=\"" + imgSrc + "\" alt=\" \" />" +
                            "</td>" +
                        "</tr>" +
                    "</table>" 
                     
                 );
             }
         );
         settings.PagerSettings.ShowNumericButtons = true;
         settings.PagerSettings.AllButton.Visible = false;
         settings.PagerSettings.Summary.Visible = false;
         settings.PagerSettings.PageSizeItemSettings.Visible = true;
         settings.PagerSettings.PageSizeItemSettings.ShowAllItem = true;
     });
}

@grid.Bind(ViewBag.Datas).GetHtml()