@{
    var View = Html.DevExpress().DataView(
    settings =>
    {
        settings.Name = "dataView";
        settings.CallbackRouteValues = new { Controller = "CampReportDev", Action = "Grid" };
        settings.SettingsTableLayout.RowsPerPage = 2;
        settings.Width = Unit.Percentage(100);
        settings.PagerAlign = PagerAlign.Justify;
        settings.SetItemTemplateContent(
            c =>
            {
                ViewContext.Writer.Write(
                    "<table>" +
                        "<tr>" +
                            "<td colspan=\"2\">" +
                                "<img src=\"" + Url.Content(DataBinder.Eval(c.DataItem, "PhotoUrl").ToString()) + "\" alt=\"\" />" +
                            "</td>" +
                        "</tr>" +
                    "</table>"
                );
            }
        );
        settings.PagerSettings.ShowNumericButtons = true;
        settings.PagerSettings.AllButton.Visible = false;
        settings.PagerSettings.Summary.Visible = false;
        settings.PagerSettings.PageSizeItemSettings.Visible = true;
        settings.PagerSettings.PageSizeItemSettings.ShowAllItem = true;
    });

}

@View.Bind(ViewBag.Datas).GetHtml()