@{
    var grid = Html.DevExpress().DataView(
        settings =>{

        settings.Name = "dataView";
        settings.KeyFieldName = "VEHICLE_SID";
        settings.CallbackRouteValues = new { Controller = "CampReportDev", Action = "Grid" };
        settings.SettingsTableLayout.RowsPerPage = 2;
        settings.Width = Unit.Percentage(100);
        settings.PagerAlign = PagerAlign.Justify;
        settings.SetItemTemplateContent(
            c => {
                ViewContext.Writer.Write(
                "<table>"+
                    "<tr>"+
                    "<td colspan=\"2\">"+
                         "<img src=\"" + url.content(databinder.eval(c.dataitem, "PhotoUrl" ).tostring()) + "\" alt=\"\" />"
                    "</td>"+
                   "</tr>"+
                "</table>"


                );

        

      

       
     
    });
}

