
.container
{
    height:30px;
}

.containers{
    min-height:600px;
    margin-top:2px;
}
#CamTitle{
    padding-bottom:5px;
    font-size:12px;
    font-weight:bold;
    
}
.imageViewCamp1{
    float:left !important;
    margin-top:10px;
    margin-bottom:20px;
    margin-left:10px;
    text-align:center;
    width:650px;
    height:600px;
    /*background-color:rgba(0, 0, 0, 0.1) !important;*/
}
.imageViewCamp2 {
    float: right !important;
    width:650px;
    height:600px;
    margin-top: 10px;
    margin-bottom:20px;
    margin-right:10px;
    text-align:center;
    /*background-color:rgba(0, 0, 0, 0.1)!important;*/
   
}

.ImageSlider{
    background-color:white;
    height:500px;
    width:600px;
    margin:auto;
    /*position:absolute;*/
    
}
#ButtonDownload{
    padding:5px 5px 3px 3px;
    margin-top:15px;
   
}
.button{
  
  background-color: #e81123;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; 
}


#imageSliderCamp1, #imageSliderCamp2{
    width:600px !important;
    height:500px !important;
    margin:auto !important;
    
}



